@media (max-width: 600px) { 
    #collection-section, 
    #how-section, 
    #service-section, 
    #comment-section,
    #download-section,
    footer{
        display: none;
    }

    .header-content-3{
        display: none;
    }
    .home-container p{
        font-size: 20px;
    }
    .form-container{
        align-items: center;
    }
    .form{
        flex-direction: column;
        width: 70%;
    }
    .brand-content, .body-type-content{
        width: 25%;
    }
    .brand-content svg, .body-type-content svg{
        width: 89%;
        padding-left: 5px;
    }
}